[submodule "mod2/aula1/counter/lib/forge-std"]
	path = mod2/aula1/counter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "mod2/counter/lib/solady"]
	path = mod2/counter/lib/solady
	url = https://github.com/Vectorized/solady
